In [1]:
import pandas as pd

In [7]:
df_inicial = pd.read_csv('./Data/airports_2.tsv', sep='\t', encoding='utf-16')
df_inicial.head()

,id,Name,Name2,Country,IATA,ICAO,Unnamed: 6,Unnamed: 7
0,1,Goroka Airport,Goroka,Papua New Guinea,GKA,AYGA,NaN,NaN
1,2,Madang Airport,Madang,Papua New Guinea,MAG,AYMD,NaN,NaN
2,3,Mount Hagen Kagamuga Airport,Mount Hagen,Papua New Guinea,HGU,AYMH,NaN,NaN
3,4,Nadzab Airport,Nadzab,Papua New Guinea,LAE,AYNZ,NaN,NaN
4,5,Port Moresby Jacksons International Airport,Port Moresby,Papua New Guinea,POM,AYPY,NaN,NaN

In [8]:
df_inicial = df_inicial[['Name', 'Name2', 'Country', 'IATA', 'ICAO']]
df_inicial.columns

Index(['Name', 'Name2', 'Country', 'IATA', 'ICAO'], dtype='object')

In [9]:
df_inicial['Country'].unique()

array(['Papua New Guinea', 'Greenland', 'Iceland', 'Canada', 'Algeria',
       'Benin', 'Burkina Faso', 'Ghana', "Cote d'Ivoire", 'Nigeria',
       'Niger', 'Tunisia', 'Togo', 'Belgium', 'Germany', 'Estonia',
       'Finland', 'United Kingdom', 'Guernsey', 'Jersey', 'Isle of Man',
       'Falkland Islands', 'Netherlands', 'Ireland', 'Denmark',
       'Faroe Islands', 'Luxembourg', 'Norway', 'Poland', 'Sweden',
       'South Africa', 'Botswana', 'Congo (Brazzaville)',
       'Congo (Kinshasa)', 'Swaziland', 'Central African Republic',
       'Equatorial Guinea', 'Saint Helena', 'Mauritius',
       'British Indian Ocean Territory', 'Cameroon', 'Zambia', 'Comoros',
       'Mayotte', 'Reunion', 'Madagascar', 'Angola', 'Gabon',
       'Sao Tome and Principe', 'Mozambique', 'Seychelles', 'Chad',
       'Zimbabwe', 'Malawi', 'Lesotho', 'Mali', 'Gambia', 'Spain',
       'Sierra Leone', 'Guinea-Bissau', 'Liberia', 'Morocco', 'Senegal',
       'Mauritania', 'Guinea', 'Cape Verde', 'Ethiopia', 'Burundi',
       'Somalia', 'Egypt', 'Kenya', 'Libya', 'Rwanda', 'Sudan',
       'South Sudan', 'Tanzania', 'Uganda', 'Albania', 'Bulgaria',
       'Cyprus', 'Croatia', 'France', 'Saint Pierre and Miquelon',
       'Greece', 'Hungary', 'Italy', 'Slovenia', 'Czech Republic',
       'Israel', 'Malta', 'Austria', 'Portugal', 'Bosnia and Herzegovina',
       'Romania', 'Switzerland', 'Turkey', 'Moldova', 'Macedonia',
       'Gibraltar', 'Serbia', 'Montenegro', 'Slovakia',
       'Turks and Caicos Islands', 'Dominican Republic', 'Guatemala',
       'Honduras', 'Jamaica', 'Mexico', 'Nicaragua', 'Panama',
       'Costa Rica', 'El Salvador', 'Haiti', 'Cuba', 'Cayman Islands',
       'Bahamas', 'Belize', 'Cook Islands', 'Fiji', 'Tonga', 'Kiribati',
       'Wallis and Futuna', 'Samoa', 'American Samoa', 'French Polynesia',
       'Vanuatu', 'New Caledonia', 'New Zealand', 'Antarctica',
       'Afghanistan', 'Bahrain', 'Saudi Arabia', 'Iran', 'Jordan',
       'West Bank', 'Kuwait', 'Lebanon', 'United Arab Emirates', 'Oman',
       'Pakistan', 'Iraq', 'Syria', 'Qatar', 'Northern Mariana Islands',
       'Guam', 'Marshall Islands', 'Midway Islands', 'Micronesia',
       'Palau', 'Taiwan', 'Japan', 'South Korea', 'Philippines',
       'Argentina', 'Brazil', 'Chile', 'Ecuador', 'Paraguay', 'Colombia',
       'Bolivia', 'Suriname', 'French Guiana', 'Peru', 'Uruguay',
       'Venezuela', 'Guyana', 'Antigua and Barbuda', 'Barbados',
       'Dominica', 'Martinique', 'Guadeloupe', 'Grenada',
       'Virgin Islands', 'Puerto Rico', 'Saint Kitts and Nevis',
       'Saint Lucia', 'Aruba', 'Netherlands Antilles', 'Anguilla',
       'Trinidad and Tobago', 'British Virgin Islands',
       'Saint Vincent and the Grenadines', 'Kazakhstan', 'Kyrgyzstan',
       'Azerbaijan', 'Russia', 'Ukraine', 'Belarus', 'Turkmenistan',
       'Tajikistan', 'Uzbekistan', 'India', 'Sri Lanka', 'Cambodia',
       'Bangladesh', 'Hong Kong', 'Laos', 'Macau', 'Nepal', 'Bhutan',
       'Maldives', 'Thailand', 'Vietnam', 'Burma', 'Indonesia',
       'Malaysia', 'Brunei', 'East Timor', 'Singapore', 'Australia',
       'Christmas Island', 'Norfolk Island', 'China', 'North Korea',
       'Mongolia', 'United States', 'Latvia', 'Lithuania', 'Armenia',
       'Eritrea', 'Palestine', 'Georgia', 'Yemen', 'Bermuda',
       'Solomon Islands', 'Nauru', 'Tuvalu', 'Namibia', 'Djibouti',
       'Montserrat', 'Johnston Atoll', 'Western Sahara', 'Niue',
       'Cocos (Keeling) Islands', 'Myanmar', 'Svalbard', 'Wake Island'],
      dtype=object)

## Parse of Europe

In [18]:
df_final = df_inicial.loc[df_inicial['Country'].isin(['Iceland', 'Belgium', 'Germany', 'Estonia', 'Finland', 'United Kingdom', 
                                     'Netherlands', 'Ireland', 'Denmark', 'Faroe Islands', 'Luxembourg', 'Norway', 'Poland', 
                                     'Sweden', 'Spain', 'Cyprus', 'Croatia', 'France', 'Greece', 'Hungary', 'Italy', 'Slovenia',
                                     'Czech Republic', 'Malta', 'Austria', 'Portugal', 'Bosnia and Herzegovina', 'Romania',
                                     'Switzerland', 'Turkey', 'Moldova', 'Macedonnia', 'Gibraltar', 'Serbia', 'Montenegro',
                                     'Latvia', 'Lithuania', 'Armenia', 'Slovakia', 'Russia', 'Ukraine','Belarus', 'Svalbard', 
                                     'Isle of Man', 'Guernsey'])]

In [19]:
df_final.shape

(1830, 5)

In [20]:
df_final.head()

                    Name        Name2  Country IATA  ICAO
10      Akureyri Airport     Akureyri  Iceland  AEY  BIAR
11   Egilsstaðir Airport  Egilsstadir  Iceland  EGS  BIEG
12  Hornafjörður Airport         Hofn  Iceland  HFN  BIHN
13       Húsavík Airport      Husavik  Iceland  HZK  BIHU
14    Ísafjörður Airport   Isafjordur  Iceland  IFJ  BIIS

In [21]:
df_final.to_csv('./data/airports_europe.csv', sep=',')

## Parse of Asia/Oceania

In [22]:
df_final = df_inicial.loc[df_inicial['Country'].isin([ 'Papua New Guinea', 'British Indian Ocean Territory', 'Turkey', 
                                                       'Fiji','Vanuatu', 'New Caledonia', 'New Zealand', 'Antarctica',
                                                       'Afghanistan', 'Bahrain', 'Saudi Arabia', 'Iran', 'Jordan',
                                                       'West Bank', 'Kuwait', 'Lebanon', 'United Arab Emirates', 'Oman',
                                                       'Pakistan', 'Iraq', 'Syria', 'Qatar', 'Northern Mariana Islands',
                                                       'Guam', 'Marshall Islands', 'Midway Islands', 'Micronesia',
                                                       'Palau', 'Taiwan', 'Japan', 'South Korea', 'Philippines',
                                                       'Kazakhstan', 'Kyrgyzstan','Azerbaijan', 'Turkmenistan',
                                                       'Tajikistan', 'Uzbekistan', 'India', 'Sri Lanka', 'Cambodia',
                                                       'Bangladesh', 'Hong Kong', 'Laos', 'Macau', 'Nepal', 'Bhutan',
                                                       'Maldives', 'Thailand', 'Vietnam', 'Burma', 'Indonesia',
                                                       'Malaysia', 'Brunei', 'East Timor', 'Singapore', 'Australia',
                                                       'Christmas Island', 'Norfolk Island', 'China', 'North Korea',
                                                       'Mongolia','Eritrea', 'Palestine', 'Georgia', 'Yemen', 'Bermuda',
                                                       'Solomon Islands', 'Nauru', 'Tuvalu', 'Namibia', 'Djibouti',
                                                       'Johnston Atoll', 'Niue','Cocos (Keeling) Islands', 'Myanmar', 
                                                       'Wake Island' ])]

In [23]:
df_final.shape

(2030, 5)

In [24]:
df_final.head()

,Name,Name2,Country,IATA,ICAO
875,Diego Garcia Naval Support Facility,Diego Garcia Island,British Indian Ocean Territory,NKW,FJDG
1636,Güvercinlik Airport,Ankara,Turkey,\N,LTAB
1637,Esenboğa International Airport,Ankara,Turkey,ESB,LTAC
1638,Etimesgut Air Base,Ankara,Turkey,ANK,LTAD
1639,Akıncı Air Base,Ankara,Turkey,\N,LTAE

In [25]:
df_final.to_csv('./data/airports_asia_oceania.csv', sep=',')

## Parse of America

In [26]:
df_final = df_inicial.loc[df_inicial['Country'].isin([ 'Greenland', 'Canada',
                                                       'Saint Pierre and Miquelon', 'Turks and Caicos Islands', 
                                                       'Dominican Republic', 'Guatemala',
                                                       'Honduras', 'Jamaica', 'Mexico', 'Nicaragua', 'Panama',
                                                       'Costa Rica', 'El Salvador', 'Haiti', 'Cuba', 'Cayman Islands',
                                                       'Bahamas', 'Belize', 'French Polynesia',
                                                       'Argentina', 'Brazil', 'Chile', 'Ecuador', 'Paraguay', 'Colombia',
                                                       'Bolivia', 'Suriname', 'French Guiana', 'Peru', 'Uruguay',
                                                       'Venezuela', 'Guyana', 'Antigua and Barbuda', 'Barbados',
                                                       'Dominica', 'Martinique', 'Guadeloupe', 'Grenada',
                                                       'Virgin Islands', 'Puerto Rico', 'Saint Kitts and Nevis',
                                                       'Saint Lucia', 'Aruba', 'Netherlands Antilles', 'Anguilla',
                                                       'Trinidad and Tobago', 'British Virgin Islands',
                                                       'Saint Vincent and the Grenadines', 'United States'])]

In [27]:
df_final.shape

(3065, 5)

In [28]:
df_final.head()

                       Name               Name2    Country IATA  ICAO
6        Narsarsuaq Airport        Narssarssuaq  Greenland  UAK  BGBW
7   Godthaab / Nuuk Airport            Godthaab  Greenland  GOH  BGGH
8     Kangerlussuaq Airport         Sondrestrom  Greenland  SFJ  BGSF
9            Thule Air Base               Thule  Greenland  THU  BGTL
20  Sault Ste Marie Airport  Sault Sainte Marie     Canada  YAM  CYAM

In [29]:
df_final.to_csv('./data/airports_america.csv', sep=',')

## Parse of Africa

In [ ]:
df_final = df_inicial.loc[df_inicial['Country'].isin([ 'Algeria',
                                                       'Benin', 'Burkina Faso', 'Ghana', "Cote d'Ivoire", 'Nigeria',
                                                       'Niger', 'Tunisia', 'Togo',
                                                       'South Africa', 'Botswana', 'Congo (Brazzaville)',
                                                       'Congo (Kinshasa)', 'Swaziland', 'Central African Republic',
                                                       'Equatorial Guinea', 'Saint Helena', 'Mauritius',
                                                       'British Indian Ocean Territory', 'Cameroon', 'Zambia', 'Comoros',
                                                       'Mayotte', 'Reunion', 'Madagascar', 'Angola', 'Gabon',
                                                       'Sao Tome and Principe', 'Mozambique', 'Seychelles', 'Chad',
                                                       'Zimbabwe', 'Malawi', 'Lesotho', 'Mali', 'Gambia',
                                                       'Sierra Leone', 'Guinea-Bissau', 'Liberia', 'Morocco', 'Senegal',
                                                       'Mauritania', 'Guinea', 'Cape Verde', 'Ethiopia', 'Burundi',
                                                       'Somalia', 'Egypt', 'Kenya', 'Libya', 'Rwanda', 'Sudan',
                                                       'South Sudan', 'Tanzania', 'Uganda', 'Western Sahara'])]